@charset "utf-8";

/* background-colorをクリーム色と薄いクリーム色にする */
.container {
    background-color: var(--primary-creamRGB);
}

.containerLight {
    background-color: var(--primary-creamLight);
}

/* barista */
.barista {
    display: flex;
    background-image: url(..//images/menu__topImg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
}

.barista__topic {
    color: var(--primary-creamRGB);
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.2em;
}

/* ナビゲーション */
.navigationWrap {
    width: var(--contentWidth);
    margin: 0 auto; 
}

.navigation {
    display: flex;
    height: 60px;
    margin: 0 auto;
    color: var(--primary-grayBrownRGB);
    font-size: 1.4rem;
    font-weight: 700;
    justify-content: space-between;
    align-items: flex-end;
}

.navigation li {
    margin-bottom: 8px;
}

/* 背景がレッドブラウンのタイトル */
h2 {
    color: var(--primary-darkBrown);
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    background-color: var(--primary-redBrownRGB);
    padding: 8px var(--contentPadding);
}

