@charset "utf-8";

* { 
    margin: 0; padding: 0; box-sizing: border-box; 
}

html {
    font-size: 62.5%;
}

body {
    font-family: 
        "Noto Serif JP", 
        "serif";
    font-family: 
        "Noto Serif", 
        serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: nomal;
    line-height: 1.5;
    background-color: rgb(247, 243, 237);
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --primary-darkBrown: #524A45;
    --primary-redBrownRGB: rgb(182, 163, 152);
    --primary-grayBrownRGB: rgb(154, 141, 127);
    --primary-creamRGB: rgb(247, 243, 237);
    --primary-creamLight: #fff;
    --contentWidth: 83.6%;
    --contentPadding: 8.2%;
}