@charset "utf-8";

/* background-colorをクリーム色と薄いクリーム色にする */
.container {
    background-color: var(--primary-creamRGB);
}

.containerLight {
    background-color: var(--primary-creamLight);
}


/* ヒーロー */
.hero {
    background-image: url(../images/heroImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 640px;
    text-align: center;
    letter-spacing: 0.1em;
}

.hero__topic {
    padding: 64px 0 32px 0;
    color: var(--primary-creamRGB);
    font-weight: 400;
    font-size: 2.4rem;
    font-weight: 700;
}

.hero__txt {
    padding-top: 24px;
    color: var(--primary-creamRGB);
    font-weight: 400;
    font-size: 1.6rem;
}

/* ナビゲーション */
.navigationWrap {
    width: var(--contentWidth);
    margin: 0 auto; 
}

.navigation {
    display: flex;
    height: 60px;
    margin: 0 auto;
    color: var(--primary-grayBrownRGB);
    font-size: 1.6rem;
    font-weight: 700;
    justify-content: space-between;
    align-items: flex-end;
}

.navigation li {
    margin-bottom: 8px;
}

/* 背景がレッドブラウンのタイトル */
h2 {
    color: var(--primary-darkBrown);
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    background-color: var(--primary-redBrownRGB);
    padding: 8px var(--contentPadding);
}

/* タイトル */
.specialtyCoffeeMain__title {
    color: var(--primary-darkBrown);
    font-size: 1.6rem;
    text-align: center;
    padding: 64px 0 32px 0;
}

h3 {
    color: var(--primary-grayBrownRGB);
    font-size: 3.2rem;
    text-align: center;
    padding-top: 64px;
}

/* specialtyCoffeeMain*/
.specialtyCoffeeMain {
    width: var(--contentWidth);
    margin: 0 auto; 
    position: relative;
}

.specialtyCoffeeMain__title::after{
    content: "";
    position: absolute;
    top: 24px;
    right: 0;
    width: 36px;
    height: 35px;
    background-image: url(../images/decoration-beansTop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.specialtyCoffeeMain::before{
    content: "";
    position: absolute;
    top: 880px;
    left: -8px;
    width: 36px;
    height: 35px;
    background-image: url(../images/decoration-beansUnder.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.specialtyCoffeeMain__txt {
    color: var(--primary-darkBrown);
    font-size: 1.4rem;
    text-align: center;
    padding-top: 32px;
}

.specialtyCoffeeMain__txt:nth-of-type(3) {
    padding-bottom: 64px;
}

.specialtyCoffeeMain__img {
    padding-top: 32px;
}

/* aboutSpecialtyCoffee */
.aboutSpecialtyCoffee {
    width: var(--contentWidth);
    margin: 0 auto; 
    border-bottom: var(--primary-darkBrown) 0.5px solid;
}

.aboutSpecialtyCoffee__img {
    padding-top: 64px;
    position: relative;
}

.aboutSpecialtyCoffee p {
    color: var(--primary-darkBrown);
    font-size: 1.4rem;
    text-align: left;
    padding-top: 32px;
}
.aboutSpecialtyCoffee p:nth-of-type(1) {
    color: var(--primary-grayBrownRGB);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding-top: 0;
}

.aboutSpecialtyCoffee p:last-of-type {
    color: var(--primary-darkBrown);
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 64px;
}

/* enjoy The Flavor */
.enjoyTheFlavor {
    width: var(--contentWidth);
    margin: 0 auto; 
    border-bottom: var(--primary-darkBrown) 0.5px solid;
    position: relative;
}

.enjoyTheFlavor p:first-of-type {
    padding: 0;
    color: var(--primary-grayBrownRGB);
    font-weight: 700;
    letter-spacing: 0.1em;
}

.enjoyTheFlavor p {
    color: var(--primary-darkBrown);
    font-size: 1.4rem;
    text-align: center;
    padding-top: 32px;
}

.enjoyTheFlavor p:last-of-type {
    padding-bottom: 64px;
}

.enjoyTheFlavor__img {
    padding-top: 32px;
}

.enjoyTheFlavor::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 180px;
    bottom: 40px;
    width: 150px;
    height: 150px;
    background-image: url(../images/enjoyTheFlavor__backgroundImg.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

/* roaster */
.roaster {
    width: var(--contentWidth);
    margin: 0 auto; 
    position: relative;
}

.roaster__img {
    padding-top: 32px;
}

.roaster p:first-of-type {
    padding: 0;
    color: var(--primary-grayBrownRGB);
    font-weight: 700;
    letter-spacing: 0.1em;
}

.roaster p {
    color: var(--primary-darkBrown);
    font-size: 1.4rem;
    text-align: center;
    padding-top: 32px;
}

.roaster p:last-of-type {
    padding-bottom: 96px;
}

.roaster::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    bottom: 35px;
    width: 90px;
    height: 90px;
    background-image: url(../images/roaster__backgroundImg.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

/* coffeeBeans */
.coffeeBeans {
    width: var(--contentWidth);
    margin: 0 auto; 
}

.coffeeBeans dl {
    border-bottom: 0.5px var(--primary-darkBrown) solid;
    padding-bottom: 32px;
}

.coffeeBeans dl:last-of-type {
    border-bottom: 0;
}


.coffeeBeans dd {
    color: var(--primary-darkBrown);
    font-size: 1.4rem;
    text-align: left;
    padding-top: 18px;
}

.coffeeBeans__title {
    color: var(--primary-grayBrownRGB);
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: left;
    padding-top: 32px;
    gap: 16px;
    display: flex;
    align-items: center;    
}

.coffeeBeans__title--right {
    justify-content: flex-end;
}

.coffeeBeans__subTitle {
    color: var(--primary-grayBrownRGB);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: left;
}

.coffeeBeans__subTitle--right {
    text-align: right;
}

.coffeeBeans__flag {
    width: 32px;
    height: 22px;
    display: block;
}

.coffeeBeans__img {
    padding: 16px 0;
}

/* shop */
.shop {
    width: var(--contentWidth);
    margin: 0 auto; 
}

.shop__title {
    position: relative;
    color: var(--primary-grayBrownRGB);
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 32px 0;
}

/* 神戸--調節できん */
/* 神戸--調節できん */
/* 神戸--調節できん */
/* 神戸--調節できん */
/* 神戸--調節できん */
.shop__title--kobe::before {
    content: "";
    position: absolute;
    border-bottom: 2px var(--primary-grayBrownRGB) solid;
    bottom: 52px;
    width: 30px;
    left: 56px;
} 

.shop__title::before {
    content: "";
    position: absolute;
    border-bottom: 2px var(--primary-grayBrownRGB) solid;
    bottom: 52px;
    width: 30px;
    left: 56px;
}


.shop__title::after {
    content: "";
    position: absolute;
    border-bottom: 2px var(--primary-grayBrownRGB) solid;
    bottom: 52px;
    right: 60px;
    width: 30px;
}

.shop__title--kobe::after {
    content: "";
    position: absolute;
    border-bottom: 2px var(--primary-grayBrownRGB) solid;
    bottom: 52px;
    right: 70px;
    width: 30px;
}
/* 神戸--調節できん */
/* 神戸--調節できん */
/* 神戸--調節できん */
/* 神戸--調節できん */
/* 神戸--調節できん */

.shop__cupIcon {
    width: 12px;
    height: 16px;
}

.shop__brownTxt {
    display: flex;
    color: var(--primary-grayBrownRGB);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.05em;
    gap: 8px;
    align-items: center;
    padding-top: 16px;
}

.shop__brownTxt--top {
    padding-top: 0;
}

.shop dd {
    color: var(--primary-darkBrown);
    font-size: 1.4rem;
    text-align: left;
    letter-spacing: 0.05em;
}

.shop dl {
    border-bottom: 0.5px var(--primary-darkBrown) solid;
    padding-bottom: 32px;
    position: relative;
}

.shop dl:last-of-type {
    border-bottom: 0;
}

.shop__img {
    padding-bottom: 32px;
}

.shop__bcImg {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    position: absolute;
    bottom: 25px;
    left: 225px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.4);
}

/* contact */
.containerBrown {
    background-color: var(--primary-darkBrown);
    padding-top: 32px;
    text-align: center;
}

.contact {
    width: var(--contentWidth);
    margin: 0 auto; 
}

.contact a {
    display: block;
    color: var(--primary-darkBrown);
    font-size: 2.4rem;
    font-weight: 700;
    background-color: var(--primary-grayBrownRGB);
    padding: 4px 64px;
    border-radius: 18px;
    text-decoration: none;
    margin-bottom: 32px;
}

.contact span {
    color: var(--primary-darkBrown);
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 4px;
}

.sns {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.contact__question {
    display: flex;
    color: var(--primary-creamRGB);
    font-size: 1.4rem;
    white-space: nowrap;
    gap: 64px;
}

.contact__question li {
    display: flex;
    padding: 32px 0 12px 0;
}

.contact__question img {
    padding-right: 8px;
}

.contact__language {
    display: flex;
    color: var(--primary-creamRGB);
    font-size: 1.4rem;
    text-align: left;
    white-space: nowrap;
    gap: 85px;
    border-bottom: 0.5px var(--primary-creamRGB) solid;
}

.contact__language li {
    display: flex;
    padding-bottom: 32px;
}

.contact__language img {
    padding-right: 8px;
}

.otherInformation {
    color: var(--primary-creamRGB);
    font-size: 1.4rem;
    text-align: left;
    border-bottom: 0.5px var(--primary-creamRGB) solid;
}

.otherInformation li {
    display: flex;
    padding-top: 8px;
}

.otherInformation li:first-of-type {
    padding-top: 16px;
}

.otherInformation li:last-of-type {
    padding-bottom: 16px;
}

.otherInformation img {
    padding-right: 6px;
}

/* footer */
footer {
    background-color: var(--primary-darkBrown);
}

.footer {
    width: var(--contentWidth);
    margin: 0 auto; 
    padding: 16px 0;
    color: var(--primary-creamRGB);
}